<!DOCTYPE html>
<html>
<head>
  <title>住所情報取得</title>

  <meta charset="utf-8"/>
</head>
<body class="index">
<div class="index-body">
<div class="button-1">
<!--  <button onclick="location.href='https://get-gmap-data.herokuapp.com/geocode/'">検索する</button>-->
  <a href="https://get-gmap-data.herokuapp.com/geocode/">
    <button type="button">使う</button>
  </a>
</div>
</div>
</body>
<!--<footer>-->
<!--  <p>&copy; Satoki Yamada. 2020.</p>-->
<!--</footer>-->
</html>

